@mixin flex($dir, $justify, $align) {
  display: flex;
  flex-direction: $dir;
  justify-content: $justify;
  align-items: $align;
}

@mixin drop-shadow($offset:0px, $blur:2px, $spread:3px, $opacity:0.3) {
  box-shadow: $offset $blur $spread rgba(0, 0, 0, $opacity); 
}

@mixin trans() {
  transition: all 0.3s ease;
}

@mixin transition($prop:all, $dur:.3s, $fn:$bez-fn, $delay:0) {
  transition: $prop $dur $fn $delay;
}

@mixin translate($x:-50%, $y:-50%) {
  transform: translate($x, $y);
}

@mixin img($fname, $size: cover) {
  background-image: url(./#{$fname});
  background-size: $size;
  background-repeat: no-repeat;
  background-position: center center;
}